* {
    font-family: "MapleMono";
    color: #e3d095;
    background: transparent;
}
  
#window {
    background-image:linear-gradient(to bottom, #2e2638 100%);
    margin: auto;
    padding: 4px;
    border-radius: 20px;
    border: 2px solid #441188;
    alpha: 0;
}

#input {
    padding: 10px;
    margin-bottom: 10px;
    background: #141216;
    border: 2px solid #441188;
    box-shadow: none;
}

#outer-box {
    padding: 15px;
}

#entry {
    padding: 4px;
    border-radius: 2px;
}

#entry:selected {
    background-color: #2e2638;
}

#text {
    margin: 2px;
    border: none
}
